
  /* colors */
  $color-black: var(--color-black);
  $color-white: var(--color-white);
  $color-grey: var(--color-grey);
  $color-grey-light: var(--color-grey-light);
  $color-grey-dark: var(--color-grey-dark);
  $color-grey-shade: var(--color-grey-shade);

  /* fonts */

  $font-baskervville: var(--font-Baskervville);
  $font-bricolage: var(--font-bricolage-grotesque);
  
  $heading1: clamp(1.8rem, 4.4vw - 2rem, 3.8em);
  $heading2: clamp(1.4rem, 3.4vw - 2rem, 2.8rem);
  $nav-link: clamp(.8rem, 1.4vw - 2rem, 1.8rem);
  $mini-title: clamp(.8rem, 2vw - 2rem, 2rem);
  $body: clamp(1rem, 2vw - 2rem, 2rem);

  /* spacing */

  $size-xs: var(--size-xs);
  $size-sm: var(--size-sm);
  $size-md: var(--size-md);
  $size-lg: var(--size-lg);
  $size-xl: var(--size-xl);

/* Global styles */

.wrapper {
  padding: 0px 20px;

  @media (min-width: 1360px) {
    padding: 0 5rem;
  }
  
  @media (min-width: 3800px) {
    margin: 0 auto;
    max-width: 3000px;
  }
}




.icon-container {
  display: flex;
  align-items: center;
  gap: $size-md;
}

.icon-link {
  display: inline-block;
  transition: all 300ms ease-out;

  &:hover {
    transform: scale(1.2);
    fill: $color-grey;
  }
}



$section-padding: $size-lg;

@mixin section {
  padding-block: $section-padding;
}

@mixin container {
  position: relative;
  padding-block: $size-md;
}

// footer

.flex-container {
  color: $color-grey;
  padding-block: $section-padding;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

// page

.page-padding-block {
  padding-block: $section-padding;
}