:root {
  /* fonts */
  font-size: 16px;
  --nav-link: 1rem;
  --heading1: 2rem;
  --heading2: 1.5rem;
  --body: 1rem;

  /* colors */
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #808080;
  --color-grey-light: #E6E6E6;
  --color-grey-dark: #272727;
  --color-grey-shade: #FAFAFA;

  /* spacing */

  --size-xs: 0.25rem;
  --size-sm: .5rem;
  --size-md: 1rem;
  --size-lg: 2rem;
}

@media screen and (min-width: 1020px) {
  :root {
    --nav-link: .7rem;
    --heading1: 2.2rem;
    --heading2: 1.6rem;
    --body: 1rem;
  }
}

@media screen and (min-width: 1900px) {
  :root {
    --nav-link: 1rem;
    --heading1: 2.5rem;
    --heading2: 2rem;
    --body: 1.4rem;  
    
    /* spacing */

    --size-xs: 0.45rem;
    --size-sm: .7rem;
    --size-md: 1.2rem;
    --size-lg: 2.2rem;
  }
}

@media screen and (min-width: 3000px) {
  :root {
    --nav-link: 2rem;
    --heading1: 4rem;
    --heading2: 3rem;
    --body: 2.4rem;

    /* spacing */

    --size-xs: 0.6rem;
    --size-sm: .9rem;
    --size-md: 1.4rem;
    --size-lg: 2.4rem;
  }
}


/* Global styles */

.wrapper {
  padding: 0px 20px;
}

/* large screens */

@media (min-width: 1360px) {
  .wrapper {
    padding: 0 5rem;
  }
}

@media (min-width: 3800px) {
    .wrapper {
      margin: 0 auto;
      max-width: 2600px;
  }
}

.navLink:hover, .navLink:focus-visible {
  background-color: var(--color-grey-shade);
}

.icon {
  transform: scale(1);
}

@media (min-width: 3800px) {
  .icon {
    transform: scale(1.8);
    margin: var(--size-sm);
  }
}
  