:root {
  /* fonts */
  --nav-link: 1rem;
  --heading1: 2rem;
  --heading2: 1.5rem;
  --body: 1rem;

  /* colors */
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #808080;
  --color-grey-light: #E6E6E6;
  --color-grey-dark: #272727;
  --color-grey-shade: #FAFAFA;
}


/* Global styles */

.wrapper {
  padding: 10px 20px;
}

.navLink:hover, .navLink:focus-visible {
  background-color: var(--color-grey-shade);
}

.heading1 {
    font-family: var(--font-Baskervville);
    font-size: var(--heading1);
    font-weight: 300;
}

.heading2 {
  font-size: var(--heading2);
}

.text-center {
  text-align: center;
}

button[data-state="closed"] .close-icon {
  display: none;
}

button[data-state="open"] .open-icon {
  display: none;
}
  