@use 'main';

.text {
    text-align: center;
    @media (min-width: 1360px) {
        text-align: left;
    }
}

.main {
    position: relative;
    margin-top: calc(0px - (main.$size-sm *2 + main.$size-sm *2 + main.$nav-link - 0.8rem));
    margin-bottom: calc(main.$section-padding*2);

    @media (min-width: 1360px) {
        margin-top: calc(0px - (main.$size-sm *2 + main.$size-sm *2 + main.$nav-link + 1rem));
    }
}

.colLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100vh;
    z-index: 2;

    @media (min-width: 1360px) {
        align-items: flex-start;
        max-width: 50%;
        padding-right: 5rem;
    }

    .textBox {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .buttonContainer {
            display: flex;
            justify-content: center;
            gap: main.$size-sm;
            margin-block: main.$size-sm;
            
            @media (min-width: 1360px) {
                justify-content: flex-start;
            }
        }
    }

}

.colRight {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @media (min-width: 1360px) {
        width: 50%;
    }
}

.socialContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: main.$size-sm;
    position: relative;
    top: 12vh;

    @media (min-width: 1360px) {
        flex-direction: row;
        top: 25vh;
    }
}

.socialText {
    font-size: calc(main.$body - 5px);
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.icons {
    display: flex;
    align-items: center;
    gap: main.$size-md;

    a {
        transition: transform 200ms ease-in;

        &:hover {
            transform: scale(1.2);
            border-radius: .2rem;
            box-shadow: 0 0 10px #00000041;
        }
    }
}

/* showcase section */

.section {
    @include main.section;
    
    & {
        text-align: center;
    }
}

.cardContainer {
    @include main.container;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: main.$size-sm;
}

.serviceContainer {
    @include main.container;
}

.teamContainer {
    @include main.container;
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: main.$size-sm;
    text-align: left;

    .imageBox {
        position: relative;
        min-width: 4rem;
        min-height: 4rem;
        aspect-ratio: 1;

        img {
            object-fit: cover;
            object-position: center;
        }
    }
}

.blogContainer {
    @include main.container;

    display: grid;
    grid-template-columns: 1fr;
    gap: main.$size-sm;

    @media (min-width: 1360px) {
        grid-template-columns: repeat(2, 1fr);        
    }
}

.formContainer {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;

    .bg {
        height: 100%;
        width: 100%;
        display: flex;
        place-content: center;
        position: absolute;

        img {
            object-fit: contain;
            object-position: center;
            transform-origin: center;
            z-index: -1;
            opacity: .5;
            right: 0;
        }
    }

    @media (min-width: 1360px) {
        flex-direction: row;

        .bg {
            position: relative;
            width: 50%;
        }
    }
}