.text {
    text-align: center;
    @media (min-width: 1025px) {
        text-align: left;
    }
}

.main {
    position: relative;
    margin-top: -5.1rem;
}

.colLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100vh;
    z-index: 2;

    @media (min-width: 1025px) {
        align-items: flex-start;
        max-width: 50%;
        padding-right: 10vw;
    }

    .buttonContainer {
        display: flex;
        gap: 1rem;
        margin-top: var(--size-sm);
    }
}

.colRight {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @media (min-width: 1025px) {
        width: 50%;
    }
}