.mobileNav {
    display:  block;

    @media (min-width: 1360px) {
        display: none;
    }
}

.desktopNav {
    display: none;

    @media (min-width: 1360px) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
    }
}

.header {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid var(--color-grey-light);
    position: sticky;
    top: 0;
    overflow: hidden;
    max-height: 100vh;
    z-index: 1000;
    padding-block: var(--size-sm);

    @media (min-width: 1360px) {
        background: none;
        border: none;
        padding-block: .8rem;
    }
}

.collapsibleRoot {
    width: 100%;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.hide { 
    display: none;
}

.menuContent {
    background-color: var(--color-white);
    width: 100%;
    height: 100vh;
    box-shadow: 1px 20px 0px 20px var(--color-white);
    margin-top: .5rem;
}

.menuList {
    list-style: none;
    width: 100%;
    padding-block: 2rem;
    display: grid;
}

.li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid var(--color-grey-light);
}

.menuItem {
    font-size: var(--nav-link);
    color: var(--color-black);
    display: block;
    padding-block: var(--size-md);
    padding-inline: var(--size-sm);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    animation: reveal 1.2s linear;
}

@keyframes reveal {
    0% {
      clip-path: inset(100% 0% 0px 0px);
    }
    100% {
      clip-path: inset(0% 0% 0px 0px);
    }
  }

.menuContent[data-state="open"] {
	animation: slideDown 600ms ease-out;
}

.menuContent[data-state="closed"] {
	animation: slideUp 600ms ease-in;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}

/* This is the desktop menu styles */

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktopMenuList {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.desktopMenuItem {
    font-size: var(--nav-link);
    color: var(--color-black);
    display: block;
    padding-block: var(--size-md);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    transition: all 0.3s ease-in-out;

    &::before {
        content: "/";
        color: var(--color-grey);
        padding-right: .5rem;
    }

    &:hover, &:focus-visible {
        color: var(--color-grey-light);
    }
}

.tel {
    display: none;

    @media (min-width: 1360px) {
        display: flex;
        align-items: center;
        gap: var(--size-sm);
        background-color: var(--color-white);
        border-radius: 100vh;
        padding-block: var(--size-sm);
        padding-inline: var(--size-sm);
        letter-spacing: 0.1rem;
        font-size: calc(var(--nav-link) + 2px) ;
        border:1px solid var(--color-grey-light);
        transition: all 200ms ease-out;
    }

    &:hover {
        transform: translate(-.5rem, .4rem);
        box-shadow: 0px 0px 15px var(--color-white);
    }
}

.telMob {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-sm);
    font-size: 1.5rem;
    padding-block: 1rem;
    background-color: var(--color-grey-shade);
    animation: reveal 1.3s linear;
}