@use '../app/main.scss';

.cardContainer {
    @include main.container;

    .flex {
        display: flex;
        flex-direction: column;
        gap: main.$size-sm;

        @media (min-width: 768px) {
            display: grid;           
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .spinner {
        padding-block: main.$size-md;
    }

    .stats {
        text-align: center;
        color: main.$color-grey;
        padding: main.$size-xs;
    }

    .buttonWrapper {
        text-align: center;
    }
}


.container {
    --uib-size: 3vh;
    --uib-color: black;
    --uib-speed: 1.2s;
    --uib-bg-opacity: .1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    will-change: transform;
    overflow: visible;
    width: 100%;
}

.car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 25, 75;
    stroke-dashoffset: 0;
    animation: travel var(--uib-speed) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
}

.track {
    fill: none;
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
}

@keyframes travel {
0% {
    stroke-dashoffset: 0;
}

100% {
    stroke-dashoffset: -100;
}
}