@use '../../app/main';

.default {
    background-color: main.$color-black;
    color: main.$color-white;
    border: 1px solid main.$color-black;
    border-radius: 0;
    padding-block: main.$size-sm;
    padding-inline: main.$size-md;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: main.$body;

    &:hover {
        background-color: main.$color-grey-dark;
    }
}

.outline {
    background-color: transparent;
    color: main.$color-black;
    border: 1px solid main.$color-black;
    border-radius: 0;
    padding-block: main.$size-sm;
    padding-inline: main.$size-md;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: main.$body;

    &:hover {
        background-color: main.$color-grey-light;
    }
}