.heading1 {
    font-family: var(--font-Baskervville);
    font-size: var(--heading1);
    font-weight: 300;
    padding-block: var(--size-sm);
}

.heading2 {
    font-family: var(--font-bricolage-grotesque);
    font-size: var(--heading2);
    padding-block: var(--size-sm);
}
  
.paragraph {
    font-family: var(--font-bricolage-grotesque);
    font-size: var(--body);
    padding-block: var(--size-sm);;
}
  